<!DOCTYPE html>
<html>

<head>
  <title>Signup</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="form" onkeydown="enterSignup(window.event)">
    <div>
      <!-- Container to make flex behave -->
      <h1 id="signup-title">Sign Up</h1>
      <div id="username-check">Username Exists</div>
    </div>
    <input type="text" id="username" name="username" placeholder="username" oninput="startCheckRequest(this.value)">
    <input type="password" id="password" name="password" placeholder="password">
    <button id="submit" class="normal-button" onclick="createUser()">Sign Up</button>
    <div class="go-to">Go to <a href="/login">Login Page</a></div>
  </div>
</body>

<script src="/javascripts/login.js"></script>
<script src="/javascripts/signup.js"></script>
</html>
