/* Index */
#posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* NewPostForm */
#post-creation-container {
  position: relative;
  margin: 10px auto 60px;
  display: inline-block;

  left: 50%;
  transform: translateX(-50%);
}

textarea#post-content {
  margin: 0 auto;
  padding: 10px;
  width: 40vw;
  min-width: 300px;
  height: 75px;
  resize: none;
}

#create-post-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* SimplePost */
.simple-post {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  width: 75%;
}

.simple-post:hover {
  cursor: pointer;
}
