nav {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}

div.large-button {
  width: 70px;
  margin: 0 20px;
  padding: 15px 32px;
  color: white;
  display: inline-block;

  font-size: 16px;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 7px gray;

  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}
.large-button:hover {
  box-shadow: 1px 2px 7px gray, 2px 3px 10px black;
}

div#main-page-button, div#user-page-button {
  font-size: 15px;
}

div#logout-button {
  background-color: #c82333;
}
div#logout-button:active {
  box-shadow: 0 0;
  background: #7c1721;
}

@media (orientation: portrait) {
  nav {
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 30px;
    height: auto;
  }
}
