.post-header {
  padding: 13px;
}

div.user-name {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

div.user-name-linked > a {
  color: #365899;
  text-decoration: none;
}

div.user-name-linked:hover > a {
  text-decoration: underline;
}

div.timestamp {
  font-style: italic;
  font-size: 10px;
  color: #777;
}

div.content {
  padding: 13px;
  padding-bottom: 26px;
  text-align: justify;
  border-bottom: 1px solid black;
}
